nav {
  background-color: transparent;
  margin: 20px 30px;
}

.nav-link {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 2px;
  color: white;
}

.active-link {
  background-color: white;
  color: black;
  border: 1px black solid;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
}

body {
  background-image: url("../../images/headerimage.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg {
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: "Lato";
  src: url(../../fonts/Lato/Lato-Bold.ttf);
}
.name {
  display: flex;
}

.letters {
  display: flex;
  justify-content: center;
}

.last-name {
  margin-left: 10px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Lato", sans-serif;
}
header h1 {
  padding-top: 40px;
  font-size: 60px;
  color: white;
}
header .header-sub-title {
  padding-top: 15px;
  color: white;
}
header .letters-move {
  font-size: 50px;
  margin: 2px;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

i {
  margin: 5px;
  padding: 10px;
  text-align: center;
  color: lightblue;
  font-size: 20px;
  background-color: black;
  border-radius: 5px 20px;
  width: 40px;
}

.icons {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-me {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 50px;
}
.about-me .about-me-text {
  margin-top: 20px;
}

.about-me-intro, .about-me-dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.about-me-header {
  border-top: lightblue 8px solid;
  font-family: "Lato";
  font-size: 50px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 0px;
  background-color: white;
}

.pic-prop {
  padding: 10px;
  display: block;
  width: 80%;
  max-width: 400px;
  background-color: lightblue;
}

.about-me-dev-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.section-header {
  border-bottom: lightblue 8px solid;
  font-family: "Lato";
  font-size: 50px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 0px;
}

@media screen and (min-width: 800px) {
  .about-me-header {
    padding-top: 100px;
  }

  .about-me-dev {
    flex-direction: row;
    padding: 10px 100px 10px 100px;
  }

  .about-me-dev-text {
    padding-bottom: 100px;
  }

  .pic-prop {
    width: 50%;
  }

  .about-me-text, .icons {
    padding-left: 50px;
  }

  i {
    margin: 15px;
    padding: 10px;
    font-size: 40px;
    width: 60px;
  }
}
@media screen and (min-width: 940px) {
  .about-me-intro {
    flex-direction: row;
    padding: 10px 100px 10px 100px;
  }
}
@media screen and (min-width: 1040px) {
  i {
    font-size: 60px;
    width: 80px;
  }
}
.appear-left {
  border-radius: 10%;
  opacity: 0;
  transition: opacity 0.5s 0.3s ease-out;
  will-change: opacity;
}

.appear-right {
  border-radius: 10%;
  opacity: 0;
  transition: opacity 0.5s 0.3s ease-out;
  will-change: opacity;
}

.appear-left.is-visible, .appear-right.is-visible {
  opacity: 1;
  transform: translateX(0em);
}

@media screen and (min-width: 400px) {
  .appear-left {
    border-radius: 10%;
    opacity: 0;
    transform: translateX(-10em);
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity;
  }

  .appear-right {
    border-radius: 10%;
    opacity: 0;
    transform: translateX(10em);
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity;
  }
}
.projects-header {
  font-family: "Lato";
  font-size: 50px;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  border-bottom: 10px lightblue solid;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px;
}

.project-pic {
  position: relative;
  padding: 5px;
  max-width: 300px;
  margin: 0px;
}

.project-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-div:hover .project-button {
  opacity: 1;
}

.project-div:hover .project-pic {
  opacity: 0.7;
}

.project-button {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  opacity: 0;
  padding: 5px;
  width: 120px;
  border: none;
  cursor: pointer;
  background-color: lightblue;
}

.project-1, .project-2, .project-3 {
  margin: 20px;
  opacity: 0;
  transform: translateX(-10em) rotate(360deg);
  transition: transform 1s 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s 0.25s ease-in;
  will-change: transform, opacity;
}

.project-4 {
  opacity: 0;
  transform: translateX(-10em) rotate(360deg);
  transition: transform 1s 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s 0.25s ease-in;
  will-change: transform, opacity;
}

.project-1.is-visible, .project-2.is-visible, .project-3.is-visible, .project-4.is-visible {
  opacity: 1;
  transform: translateX(0em);
}

@media screen and (min-width: 800px) {
  .project-pic {
    max-width: 400px;
    margin: 0px;
  }
}
@media screen and (min-width: 1400px) {
  .project-1 {
    margin: 0px;
  }

  .project-2 {
    margin: 0px;
    transform: translateX(-50em) rotateY(180deg);
    transition-delay: 1s;
  }

  .project-3 {
    margin: 0px;
    transform: translateX(-70em) rotate(180deg);
    transition-delay: 2s;
  }
}

/*# sourceMappingURL=styles.css.map */
