@import '../base/_mixins';

.contact-form {
    position: relative;
    padding: 100px;
    background-color: lightblue;
    text-align: center;
    .contact-header {
        @include section-header;
    }
    .contact-text {
        font-weight: bold;
    }
    .contact-submit {
        margin: 10px;
        background-color: white;
        border: 1px black solid;
        border-radius: 5px;
        padding: 5px;
        width: 100px;
        &:hover {
            background-color: black;
            color: lightblue;
            text-decoration: none;
        }
    }
}



.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}