@import '../base/_mixins';

* {
    @include set-page;
}

html {
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
}

body {
    background-image: url('../../images/mobile_headerimage.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg {
    
    background-color: rgba(0, 0, 0, .7);
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (min-width: 500px) {
    body {
        background-image: url('../../images/headerimage.png');
    }
}