@mixin set-page {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin section-header {
    font-family: 'Lato';
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 0px;
}